@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');
* {
  box-sizing: border-box;
  margin: 0;
}
.movie_card {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  width: 700px;
  margin: 70px auto;
  min-height: 350px;
  height: auto;
}

.close_btn {
  display: flex;
  justify-content: flex-end;
  z-index: 1;  
}

.close_btn i {
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.movie_card .info_section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
  background: linear-gradient(to top, #141413 50%, transparent 100%);
  display: inline-grid;
}
.movie_card .info_section .movie_header {
  position: relative;
  padding: 25px;
  height: 40%;
  width: 100%;
  margin-top: 85px;
}
.movie_card .info_section .movie_header h1 {
  color: #fff;
  font-weight: 400;
}
.movie_card .info_section .movie_header h4 {
  color: #9ac7fa;
  font-weight: 400;
}
.movie_card .info_section .movie_header .minutes {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.13);
}
.movie_card .info_section .movie_header .type {
  display: inline-block;
  color: #cee4fd;
  margin-left: 10px;
}
.movie_card .info_section .movie_header .poster {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 120px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}
.movie_card .info_section .movie_desc {
  padding: 25px;
  height: 50%;
  width: 100%;
}
.movie_card .info_section .movie_desc .text {
  color: #cfd6e1;
}
.movie_card .info_section .movie_social {
  height: 10%;
  padding-left: 15px;
  padding-bottom: 20px;
}
.movie_card .info_section .movie_social ul {
  list-style: none;
  padding: 0;
}
.movie_card .info_section .movie_social ul li {
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.3s;
  transition-delay: 0.15s;
  margin: 0 10px;
}
.movie_card .info_section .movie_social ul li:hover {
  transition: color 0.3s;
  color: rgba(255, 255, 255, 0.8);
}
.movie_card .info_section .movie_social ul li i {
  font-size: 19px;
  cursor: pointer;
}
.movie_card .blur_back {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  background-size: cover;
  border-radius: 11px;
  width: 100%;
  background-position: 50% 50% !important;
}

#container {
  box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);
}
#container:hover {
  box-shadow: 0px 0px 120px -55px rgba(255, 51, 0, 0.5);
}
.backdrop img {
  height: 400px;
}
