* {       
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

#login a {
  color: #ee3523;
  text-decoration: none;
}

.form-login input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}


/* ---------- LOGIN ---------- */
#login {
  width: 280px;
}

#login form span {
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  color: #606468;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

#login form input {
  height: 50px;
}

#login form input[type="text"], input[type="password"] {
  border-radius: 0px 3px 3px 0px;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 230px;
}

#login form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ee3523;
  color: #eee;
  font-weight: bold;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 280px;
}

#login form input[type="submit"]:hover {
  background-color: #db3121;
}

#login > p {
  text-align: center;
}

#login > p span {
  padding-left: 5px;
}

.login-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-store {
  margin-top: 40px;
}

.app-store img {
  width: 210px;
  margin-bottom: 10px;
}