.search_bar {
  display: flex;
  align-items: center;
}

.search_bar input {
  height: 30px;
}

.search-btn {
  background-color: red;
  height: 30px;
  width: 40px;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.search-btn i {
  font-size: 20px;
}