.container {
    margin-top: 50px;
}

.pagination {
    background-color: white;
    width: 14rem;
    justify-content: center;
    display: flex;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px 0 rgb(0 0 0 / 30%);
    margin-top: 30px;
}

.pagination-btn {
    display: flex;
}

.pagination-btn button {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.pagination-btn button:hover {
    background-color: #333;
}